.password {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.loading-animation {
  font-style: italic;
  color: gray;
  margin-top: 10px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.conflict-message {
  padding: 20px;
  margin: 20px 0;
  background-color: #3a3a3c;
  border: 2px solid #d32f2f;
  border-radius: 5px;
}

.conflict-message h3 {
  color: #d32f2f;
  margin: 0;
}

.single-result {
  padding: 20px;
  margin: 20px 0;
  background-color: #3a3a3c;
  border: 3px solid #6aaa64;
  border-radius: 5px;
}

.single-result h3 {
  color: #6aaa64;
  margin: 0;
  font-size: 1.5em;
}
