.password-form {
  text-align: center;
}

.form-inputs {
  margin-bottom: 20px;
}

.loading-animation {
  font-style: italic;
  color: gray;
  margin-top: 10px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
