html {
  background-color: #313338;
  color: #fff;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
#root {
  max-width: 800px;
  margin: 0 auto;
}
a {
  color: #538d4e;
}
a:hover,
a:visited:hover {
  color: #3e6b3a;
  text-decoration: none;
}
a:visited {
  color: #538d4e;
  text-decoration: none;
}
li {
  margin: 15px;
}
p,
label,
ul,
ol {
  font-size-adjust: 15px;
  display: inline-block;
}
ul,
ol {
  text-align: justify;
  margin: 0px;
}

.password {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  border: none;
  background-color: #538d4e;
  color: #fff;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
}
button:hover {
  background-color: #3e6b3a;
}
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.form-inputs {
  margin: 20px;
}
.label-text {
  margin: 10px;
  display: block;
}
.password-input {
  max-width: 15px;
  margin: 5px 16px 5px 16px !important;
}
input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  text-align: center;
}
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #538d4e;
  box-shadow: 0 0 5px #ccc;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  color: #ccc;
}

input[type="checkbox"] {
  accent-color: #538d4e;
  margin: 15px;
  transform: scale(1.5);
}

.loading-animation {
  font-style: italic;
  color: gray;
  margin-top: 10px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 15px;
  }
  #root {
    width: 100%;
  }
  button,
  input[type="text"],
  input[type="number"] {
    font-size: 15px;
    margin: 2px;
  }

  .password-input {
    margin: 2px 7px 2px 7px !important;
  }
}
